package main

import (
	"fmt"
	"strconv"

  "../../aoc"
)

func Part1(input string) string {
	result := 0
	return strconv.Itoa(result)
}

func Part2(input string) string {
	result := 0
	return strconv.Itoa(result)
}

func main() {
	fmt.Println(Part1(aoc.ReadInput()))
	fmt.Println(Part2(aoc.ReadInput()))
}
